.no-margin {
    margin: 0;
}

#title-page {
    background: url("images/title-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
}

#title-page-logo {
    width: 40%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
}

#intro-page {
    background: url("images/intro-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    vertical-align: middle;
}

#logo-small-div {
    display: inline-block;
    padding: 2%;
}

#logo-small-img {
    width: 10%;
    height: auto;
    position: relative;
}

#scroll-down-div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 2em;
}

#scroll-down-img {
    width: 10%;
    height: auto;
    position: relative;
    bottom: 0;
}

h2 {
    font-family: 'Bebas Neue';
    font-size: 3.75em;
    letter-spacing: 0.1em;
    margin: 0;
}

#intro-page-div>p {
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    line-height: 2em;
}

#intro-page-div {
    text-align: center;
    color: #FF5252;
}