html {
    scroll-behavior: smooth !important;
}

.no-margin {
    margin: 0;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.food {
    display: inline-block;
}

.food:not(:first-child) {
    margin-left: -4px;
}

.anchor-food {
    width: 100%;
    visibility: hidden;
}

#title-page {
    background: url("images/title-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
}

.main-container {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.parallax {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

.content {
    display: block;
    position: relative;
    background-color: white;
    z-index: 1;
}

#title-page-logo {
    width: 40%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
    transition-duration: 0.5s;
}

#title-page-logo:hover {
    position: relative;
    top: 50%;
    transform: translateY(-45%);
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
}

.logo-link-hover,
.logo-small-link:hover .logo-link {
    display: none;
}

.logo-link,
.logo-small-link:hover .logo-link-hover {
    display: block;
}

#intro-page {
    background: url("images/intro-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    vertical-align: middle;
}

.logo-small-div {
    display: inline-block;
    padding: 2%;
}

#logo-small-img {
    width: 10%;
    height: auto;
    position: relative;
}

#scroll-down-div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 2em;
}

#scroll-down-img {
    width: 10%;
    height: auto;
    position: relative;
    bottom: 0;
    transition: 0.5s;
}

#scroll-down-img:hover {
    position: relative;
    bottom: -20px;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
}

h2 {
    font-family: 'Bebas Neue';
    font-size: 4em;
    letter-spacing: 0.1em;
    margin: 0;
}

#intro-page-div>p {
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    line-height: 2em;
}

#intro-page-div {
    text-align: center;
    color: #FF5252;
}

#pizza-page {
    background: #E74C3C;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.navbar-colors-div {
    position: absolute;
    bottom: 0;
}

.navbar-colors-table {
    border-collapse: collapse;
}

.navbar-color {
    width: 12.5vw;
    height: 5vh;
    margin: 0;
    margin: 0;
    padding: 0;
}

.navbar-color-1 {
    background-color: #E74C3C;
}

.navbar-color-2 {
    background-color: #FF5252;
}

.navbar-color-3 {
    background-color: #FF7979;
}

.navbar-color-4 {
    background-color: #FD9644;
}

.navbar-color-5 {
    background-color: #F4B523;
}

.navbar-color-6 {
    background-color: #FED330;
}

.navbar-color-7 {
    background-color: #f8c291;
}

.navbar-color-8 {
    background-color: #A3CB38;
}

td.navbar-color:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    transition: 0.5s;
}

.navbar-color-links {
    width: 100%;
    height: 100%;
}

.food-page-div {
    width: 100vw;
    height: 95vh;
    display: inline-block;
}

.food-page-left,
.food-page-right {
    width: 37.5vw;
}

.food-page-center {
    width: 25%;
    height: 100%;
    text-align: center;
}

.food-page-contents {
    float: left;
    height: 100%;
}

.food-img {
    width: 80%;
    height: auto;
    -webkit-filter: drop-shadow(12px 8px 12px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(12px 8px 12px rgba(0, 0, 0, 0.3));
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.food-img:hover {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    transition-property: transform;
    transition-duration: 0.5s;
}

.logo-small-white-div {
    display: block;
    padding: 2vw;
    height: 20%;
}

.logo-small-white-img {
    width: 10vw;
    height: auto;
    position: relative;
}

.food-page-content-dish-about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: 0.5em;
    line-height: 2em;
    color: white;
    text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
    padding-left: 4vw;
    padding-right: 8vw;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.food-page-content-dish-about:hover {
    font-size: 1em;
    transition: 0.5s;
}

.food-page-content-dish-name {
    font-family: 'Bebas Neue';
    font-size: 5em;
    letter-spacing: 0.1em;
    line-height: 0.72em;
    color: white;
    text-shadow: -6px 6px 12px rgba(0, 0, 0, 0.4);
    margin: 0;
    transition: 0.5s;
}

.food-page-content-dish-name:hover {
    font-size: 6em;
    transition: 0.5s;
}

.food-page-content-type {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 0.9em;
    letter-spacing: 0.3em;
    color: white;
    text-shadow: -6px 6px 12px rgba(0, 0, 0, 0.4);
    margin: 0;
    padding-top: 0.5em;
}

.food-page-content-text,
.food-page-content-dish {
    height: 35%;
    position: relative;
    white-space: normal !important;
}

.food-page-content-dish-group {
    position: absolute;
    bottom: 0;
    padding-bottom: 4vw;
    padding-left: 4vw;
    padding-right: 8vw;
}

li {
    list-style: none;
    padding-bottom: 2.5em;
}

.food-page-right {
    margin: 0;
    display: block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: -6px 6px 12px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

li.navbar-active>a:link,
li.navbar-active>a:visited {
    color: rgba(255, 255, 255, 1);
}

li.navbar-active>a:hover {
    color: rgba(255, 255, 255, 0.8);
}

li>a:link,
li>a:visited {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: -6px 6px 12px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: 0.3s;
}

li>a:hover {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
    transition-duration: 0.3s;
}

.navbar-top-right-div {
    width: 100%;
    height: 25%;
}

.navbar-bottom-right-div {
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0
}

.navbar-top-right-ul,
.navbar-bottom-right-ul {
    margin: 0;
    padding-right: 4vw;
}

.navbar-top-right-ul {
    padding-top: 4vw;
}

.navbar-bottom-right-ul {
    /* transform: translateY(15vh); */
    /* top: 0vh; */
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 4vw;
}

#curry-page {
    background-color: #FF5252;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#berry-page {
    background-color: #FF7979;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#seafood-page {
    background-color: #FD9644;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#chicken-page {
    background-color: #F4B523;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#mango-page {
    background-color: #FED330;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#nutella-page {
    background-color: #f8c291;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#pho-page {
    background-color: #A3CB38;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#contact-page {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#contact-container {
    height: 100%;
    width: 100%;
}

.contact-logo-div {
    height: 10%;
    width: 100%;
}

.contact-arrow {
    width: 100%;
    height: 30%;
    text-align: center;
    vertical-align: middle;
}

#contact-arrow-img {
    height: 70%;
    width: auto;
    position: relative;
    top: 0px;
    transition: 0.4s;
}

#contact-arrow-img:hover {
    position: relative;
    top: 30px;
    transition: 0.4s;
    transition-timing-function: ease-out;
}

#contact-bottom-left,
#contact-bottom-right {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

#contact-bottom {
    width: 100%;
    height: 55%;
}

#contact-bottom-left {
    background-color: #778beb;
    transition: 0.5s;
}

#contact-bottom-left:hover {
    background-color: #3c40c6;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#contact-bottom-right {
    background-color: #63cdda;
    transition: 0.5s;
}

#contact-bottom-right:hover {
    background-color: #1e90ff;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.contact-icon {
    height: 15%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}