.no-margin {
    margin: 0;
}

#title-page {
    background: url("images/title-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
}

#title-page-logo {
    width: 40%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
}

#intro-page {
    background: url("images/intro-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    vertical-align: middle;
}

#logo-small-div {
    display: inline-block;
    padding: 2%;
}

#logo-small-img {
    width: 10%;
    height: auto;
    position: relative;
}

#scroll-down-div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 2em;
}

#scroll-down-img {
    width: 10%;
    height: auto;
    position: relative;
    bottom: 0;
}

h2 {
    font-family: 'Bebas Neue';
    font-size: 4em;
    letter-spacing: 0.1em;
    margin: 0;
}

#intro-page-div>p {
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    line-height: 2em;
}

#intro-page-div {
    text-align: center;
    color: #FF5252;
}

#pizza-page {
    background: #E74C3C;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#navbar-colors-div {
    position: absolute;
    bottom: 0;
}

#navbar-colors-table {
    border-collapse: collapse;
}

.navbar-color {
    width: 12.5vw;
    height: 5vh;
    margin: 0;
    margin: 0;
    padding: 0;
}

#navbar-color-1 {
    background-color: #E74C3C;
}

#navbar-color-2 {
    background-color: #FF5252;
}

#navbar-color-3 {
    background-color: #FF7979;
}

#navbar-color-4 {
    background-color: #FD9644;
}

#navbar-color-5 {
    background-color: #F4B523;
}

#navbar-color-6 {
    background-color: #FED330;
}

#navbar-color-7 {
    background-color: #FFE9AE;
}

#navbar-color-8 {
    background-color: #A3CB38;
}